.contact {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: 
    //     linear-gradient(
    //         to right,
    //         rgba($primary-color, 0.9),
    //         rgba($primary-color, 0.3)
    //     ),    
        
    //      url('../img/foto2.jpg') right top;
    
    //      background-size: auto 200% ;
    //      background-repeat: no-repeat;
    h2{
        font-size: 3rem;
        margin-bottom: 3rem;
        }

    &_list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons{
        position: initial;
        margin-top: 2rem;
    }

}